# =========================
# Python
# =========================

server/.venv/
__pycache__/
**/__pycache__/
*.pyc

# =========================
# Media files
# =========================

server/media/*.mp4
server/media/*.mkv
server/media/*.avi
server/media/*.mov
server/media/*.webm

# Generated posters
server/media/*.jpg
server/media/*.jpeg
server/media/*.png

# =========================
# Android
# =========================

**/build/
**/.gradle/
local.properties

.idea/
*.iml
